<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <div style="text-align: right; padding: 10px;">
        <% if (!locals.user) { %>
            <a href="/signup"><button>Signup</button></a>
            <a href="/login"><button>Login</button></a>
            <% } else { %>
                <%= user.name %>
                    <% if (user.role === 'ADMIN') { %>
                        <a href="/admin/urls" style="margin: 0 10px; color: blue; text-decoration: underline;">View All URLs (Admin)</a>
                    <% } %>
                    <form method="POST" action="/user/logout" style="display:inline;">
                        <button type="submit">Logout</button>
                    </form>
                    <% } %>
    </div>
    <h1>Hey <%= locals.user ? user.name : 'Guest' %> Welcome to URL Shortner</h1>
    <% if(locals.id) { %>
        <p>Short ID: <%= id %>
        </p>
        <% } %>
            <% if(locals.user) { %>
            <div>
                <form method="POST" action="/url">
                    <label>Enter Your Original URL:</label>
                    <input type="text" placeholder="https://example.com" name="url" />
                    <button type="submit">Generate</button>
                </form>
            </div>
            <% } %>
            <div>
                <% if(locals.urls){ %>
                    <table>
                        <thead>
                            <th>S. No.</th>
                            <th>Short ID</th>
                            <th>Redirect URL</th>
                            <th>Total Clicks</th>
                            <th>Created At</th>
                        </thead>
                        <tbody>
                            <% urls.forEach((url,index)=> { %>
                                <tr>
                                    <td>
                                        <%= index + 1 %>
                                    </td>
                                    <td>
                                        <%= url.shortID %>
                                    </td>
                                    <td>
                                        <%= url.redirectUrl %>
                                    </td>
                                    <td>
                                        <%= url.visitHistory ? url.visitHistory.length : 0 %>
                                    </td>
                                    <td>
                                        <%= url.createdAt.toLocaleString() %>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                    <% } %>
            </div>

</body>

</html>